.#{$class-prefix}-confirmation-dialog {
  .#{$class-prefix}-confirmation-dialog-header {
    align-items: center;
    text-align: center;
    padding-top: var(--decom-spacing-6);
  }

  .#{$class-prefix}-confirmation-dialog-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--decom-spacing-2);
  }

  .#{$class-prefix}-ui-dialog-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  .#{$class-prefix}-ui-dialog-description {
    text-align: center;
  }

  .#{$class-prefix}-confirmation-dialog-footer {
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }

  .#{$class-prefix}-confirmation-dialog-action {
    flex: 1;
  }
}
