.#{$class-prefix}-ui-password-field {
  position: relative;
  width: 100%;
}

.#{$class-prefix}-ui-password-field-input {
  padding-right: 40px;
}

.#{$class-prefix}-ui-password-field-toggle {
  @include flexCenter();
  position: absolute;
  top: 50%;
  right: var(--decom-spacing-2);
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--decom-text-text-secondary);

  &:hover,
  &:focus-visible {
    color: var(--decom-text-text-primary);
    outline: none;
  }
}
