// Page - Cart
// Styles for shopping cart page

@use "../tokens" as *;
@use "../mixins" as *;

.kecom-cart-page {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.kecom-cart-grid {
  display: grid;
  grid-template-columns: 17fr 13fr;
  align-items: start;

  @include breakpoint-down(lg) {
    grid-template-columns: 1fr;
  }
}

.kecom-cart-items {
  padding: $spacing-18 $spacing-19;

  &-empty-text {
    @include flex(column, center, center);
    @include typography(xl, normal, $text-secondary);
    gap: $spacing-6;
    margin: 0;
    height: 100%;
  }

  &-header {
    @include flex(row, center, space-between);
    margin-bottom: $spacing-12;

    &-title {
      display: flex;
      gap: $spacing-2;

      &-heading {
        @include typography(xl, semibold, $text-primary);
        margin: 0;
      }

      &-count {
        @include typography(xl, semibold, $text-subdued);
      }
    }

    &-actions {
      &-link {
        @include typography(base, medium, $text-primary);
      }
    }
  }

  .kecom-cart-item {
    @include flex(row, flex-start, flex-start);
    gap: $spacing-6;

    &-container {
      @include flex(column, flex-start, flex-start);
      flex-grow: 1;
    }

    &-info,
    &-quantity {
      @include flex(row, flex-start, space-between);
      width: 100%;
    }

    &-info {
      @include breakpoint-down(md) {
        @include flex(column, stretch, flex-start);
      }
    }

    &-image {
      flex-shrink: 0;
      width: 112px;
      height: 112px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $radius-lg;
      }

      @include breakpoint-down(md) {
        width: 96px;
        height: 96px;
      }
    }

    &-details {
      @include flex(column, flex-start, flex-start);
    }

    &-pricing {
      @include flex(column, flex-end, flex-start);
      align-self: flex-start;

      @include breakpoint-down(md) {
        @include flex(row-reverse, center, space-between);
        width: 100%;
      }

      &-wrapper {
        @include flex(row, center, flex-start);
        gap: $spacing-3;
      }

      &-product-total {
        @include typography(base, normal, $text-secondary);
        text-decoration: line-through;
      }
    }

    &-details-title,
    &-pricing-total {
      @include typography(md, semibold, $text-primary);
      margin: 0;
    }



    &-details-title {
      margin-bottom: $spacing-2;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 25ch;
    }

    &-pricing-total {
      text-align: end;
    }

    &-details-categories,
    &-pricing-each {
      margin-bottom: $spacing-2;
    }

    &-details-categories,
    &-details-attributes,
    &-pricing-each {
      @include typography(sm, normal, $text-secondary);
      vertical-align: middle;
      margin: 0;
      text-transform: inherit;
    }

    .kecom-cart-item-remove,
    .kecom-quantity {
      margin-top: $spacing-6;
    }

    .kecom-cart-item-remove {
      max-height: $spacing-12;
    }

    .kecom-quantity {
      height: $spacing-12;
    }
  }

  .kecom-cart-item:not(:last-child) {
    border-bottom: 1px solid $border-default;
    padding-bottom: $spacing-9;
  }

  .kecom-cart-item:not(:first-child) {
    margin-top: $spacing-9;
  }

  @include breakpoint-down(md) {
    padding: $spacing-16 $spacing-8;
  }
}

.kecom-cart-summary {
  background-color: $background-surface-alt;
  padding: $spacing-18 $spacing-19;
  position: sticky;
  top: 2rem;

  &-title {
    @include typography(xl, semibold, $text-primary);
    margin: 0;
    margin-bottom: $spacing-10;
  }

  &-item {
    &:nth-child(4) {
      margin-bottom: $spacing-6;
    }

    @include flex(row, center, space-between);
    margin-bottom: $spacing-4;

    &-title {
      @include typography(base, normal, $text-secondary);
    }

    &-value {
      @include typography(base, medium, $text-primary);
    }
  }

  &-total {
    @include flex(row, center, space-between);
    margin-bottom: $spacing-10;
    border-top: 1px solid $border-default;
    padding-top: $spacing-6;

    &-title {
      @include typography(md, bold, $text-primary);
    }

    &-value {
      @include typography(md, bold, $text-primary);
    }
  }

  &-checkout-btn {
    gap: $spacing-4;
    padding: $spacing-5 0;
  }

  @include breakpoint-down(md) {
    padding: $spacing-16 $spacing-8;
    position: static;
  }
}