.#{$class-prefix}-ui-dialog-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: #1c1b1dcc;
}

.#{$class-prefix}-ui-dialog-content {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  width: 512px;
  max-width: calc(100vw - var(--decom-spacing-8));
  max-height: 85%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--decom-border-border);
  border-radius: var(--decom-radius-rounded-lg);
  background-color: var(--decom-background-bg-fill);
  box-shadow: 0px 10px 15px -3px #0000001a;
  box-sizing: border-box;
  overflow: hidden;
  color: var(--decom-text-text-primary);
  @include fontGeneralSettings();

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.#{$class-prefix}-ui-dialog-close-button {
  position: absolute;
  top: var(--decom-spacing-3);
  right: var(--decom-spacing-3);
}

.#{$class-prefix}-ui-dialog-header {
  display: flex;
  flex-direction: column;
  row-gap: var(--decom-spacing-f2);
  padding: var(--decom-spacing-4) var(--decom-spacing-6);
  padding-right: var(--decom-spacing-12);
}

.#{$class-prefix}-ui-dialog-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: var(--decom-spacing-2);
  padding: var(--decom-spacing-4) var(--decom-spacing-6);
}

.#{$class-prefix}-ui-dialog-title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--decom-text-text-primary);
}

.#{$class-prefix}-ui-dialog-description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--decom-text-text-secondary);
}

.#{$class-prefix}-ui-dialog-body {
  display: flex;
  flex-direction: column;
  row-gap: var(--decom-spacing-2);
  padding: var(--decom-spacing-4) var(--decom-spacing-6);
  overflow-y: auto;
}
