.#{$class-prefix}-ui-form-item {
  @include flexColumn();
  gap: var(--decom-spacing-2);
  width: 100%;
}

.#{$class-prefix}-ui-form-description {
  @include fontGeneralSettings();
  font-size: 12px;
  line-height: 18px;
  color: var(--decom-text-text-secondary);
}

.#{$class-prefix}-ui-form-message {
  @include fontGeneralSettings();
  font-size: 12px;
  line-height: 18px;
  color: var(--decom-text-text-critical);
  font-weight: 400;
}

.#{$class-prefix}-ui-checkbox-field,
.#{$class-prefix}-ui-switch-field,
.#{$class-prefix}-ui-radio-field-row {
  @include itemCenterContentStart();
  column-gap: var(--decom-spacing-2);
  width: max-content;
}
