.#{$class-prefix}-ui-heading-wrapper {
  margin-bottom: var(--decom-spacing-8);
  margin-top: var(--decom-spacing-8);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--sticky {
    top: 32px;
    left: 0;
    padding: var(--decom-spacing-4) var(--decom-spacing-0);
    margin-top: var(--decom-spacing-0);
    position: sticky;
    border-bottom: 1px solid var(--decom-border-border);
    background-color: var(--decom-background-bg-surface-tertiary);
    z-index: 100;
  }

  &--no-margin {
    margin-top: var(--decom-spacing-0);
    margin-bottom: var(--decom-spacing-0);
  }
}

.#{$class-prefix}-ui-page-heading {
  width: 100%;
  @include itemCenter();
  column-gap: var(--decom-spacing-3);
  padding-left: var(--decom-spacing-f2);

  &--has-back {
    padding-left: var(--decom-spacing-0);
  }
}

.#{$class-prefix}-ui-page-heading-icon {
  @include flexCenter();
}

.#{$class-prefix}-ui-page-heading-actions {
  margin-left: auto;
}

.#{$class-prefix}-ui-heading {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--decom-text-text-primary);

  &--primary {
    font-size: 20px;
    line-height: 28px;
  }

  &--secondary {
    font-size: 18px;
    line-height: 24px;
  }

  &--tertiary {
    font-size: 16px;
    line-height: 20px;
  }
}
