.#{$class-prefix}-ui-label {
  @include fontGeneralSettings();
  font-weight: 500;
  color: var(--decom-text-text-primary);
  @include itemCenter();
  gap: var(--decom-spacing-1);
  cursor: default;

  &.#{$class-prefix}-ui-label--error {
    color: var(--decom-text-text-critical);
  }

  .#{$class-prefix}-ui-label-icon {
    @include flexCenter();
    display: inline-flex;
  }
}
