.#{$class-prefix}-ui-searchbox {
  width: 100%;
}

.#{$class-prefix}-ui-searchbox-input-wrap {
  position: relative;
  width: 100%;
}

.#{$class-prefix}-ui-searchbox-icon {
  @include flexCenter();
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--decom-text-text-secondary);

  &--left {
    left: var(--decom-spacing-3);
    pointer-events: none;
  }

  &--right {
    right: var(--decom-spacing-3);
    cursor: pointer;
  }
}

input.#{$class-prefix}-ui-searchbox-input--has-left-icon {
  padding-left: 36px;
}

input.#{$class-prefix}-ui-searchbox-input--has-right-icon {
  padding-right: 36px;
}
