.#{$class-prefix}-ui-select-trigger {
  width: 100%;
  min-width: 90px;
  height: 36px;
  border: 1px solid var(--decom-border-border);
  padding: var(--decom-spacing-2) var(--decom-spacing-3);
  border-radius: var(--decom-radius-rounded-lg);
  background-color: var(--decom-background-bg-fill);
  box-sizing: border-box;
  @include itemCenterContentBetween();
  gap: var(--decom-spacing-2);
  @include fontGeneralSettings();
  cursor: pointer;

  &:focus-visible,
  &[data-state="open"] {
    border-color: var(--decom-border-border);
    @include ui-focus-ring;
  }

  &.#{$class-prefix}-ui-select-trigger--error,
  &[data-error="true"] {
    border: 1px solid var(--decom-border-border-critical);
    box-shadow: none;

    &:focus-visible,
    &[data-state="open"] {
      border-color: var(--decom-border-border-critical);
      @include ui-focus-ring(var(--decom-border-border-critical));
    }
  }

  &[data-disabled] {
    background-color: var(--decom-background-bg-surface-alt);
    color: var(--decom-text-text-secondary);
    opacity: 80%;
    border-color: transparent;
    pointer-events: none;
  }

  .#{$class-prefix}-ui-select-value {
    @include itemCenter();
    column-gap: var(--decom-spacing-2);
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .#{$class-prefix}-ui-select-chevron {
    @include flexCenter();
    flex-shrink: 0;
  }
}

.#{$class-prefix}-ui-select-content {
  padding: var(--decom-spacing-1);
  border: 1px solid var(--decom-border-border);
  border-radius: var(--decom-radius-rounded-md);
  box-shadow: 0px 4px 6px -1px #0000001a;
  background-color: var(--decom-background-bg-fill);
  min-height: 33px;
  z-index: 100000;
  overflow-x: hidden;
  @include fontGeneralSettings();

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &--popper {
    max-height: var(--radix-select-content-available-height);
  }
}

.#{$class-prefix}-ui-select-viewport {
  width: 100%;

  &--popper {
    width: 100%;
    min-width: var(--radix-select-trigger-width);
    height: var(--radix-select-trigger-height);
  }
}

.#{$class-prefix}-ui-select-label {
  padding: var(--decom-spacing-f2) var(--decom-spacing-2);
  @include fontGeneralSettings();
  font-weight: 500;
  color: var(--decom-text-text-secondary);
}

.#{$class-prefix}-ui-select-item {
  padding: var(--decom-spacing-f2) var(--decom-spacing-2);
  padding-left: calc(var(--decom-spacing-2) + 16px + var(--decom-spacing-2));
  @include itemCenterContentStart();
  column-gap: var(--decom-spacing-2);
  border-radius: var(--decom-radius-rounded-sm);
  cursor: pointer;
  position: relative;
  outline: none;
  @include fontGeneralSettings();

  &:hover,
  &[data-highlighted] {
    background-color: #f4f4f5;
  }

  &[data-disabled] {
    opacity: 50%;
    pointer-events: none;
  }

  .#{$class-prefix}-ui-select-item-indicator {
    position: absolute;
    left: var(--decom-spacing-2);
    min-width: 16px;
    @include itemCenter();
  }
}

.#{$class-prefix}-ui-select-separator {
  height: 1px;
  background-color: var(--decom-border-border);
  margin: var(--decom-spacing-1) 0;
}
