.#{$class-prefix}-ui-text {
  display: flex;
  flex-direction: column;
  @include fontGeneralSettings();

  .#{$class-prefix}-ui-text-subheading {
    color: var(--decom-text-text-secondary);
  }
}

.#{$class-prefix}-ui-text-icon {
  @include flexCenter();
}

.#{$class-prefix}-ui-text--primary {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  row-gap: var(--decom-spacing-2);

  .#{$class-prefix}-ui-text-subheading {
    @include fontGeneralSettings();
    color: var(--decom-text-text-secondary);
  }
}

.#{$class-prefix}-ui-text--secondary {
  row-gap: var(--decom-spacing-f2);
  @include fontGeneralSettings();
  font-weight: 500;

  .#{$class-prefix}-ui-text-subheading {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--decom-text-text-secondary);
  }
}

.#{$class-prefix}-ui-text--disabled {
  color: var(--decom-text-text-disabled);

  .#{$class-prefix}-ui-text-subheading {
    color: var(--decom-text-text-disabled);
  }
}

.#{$class-prefix}-ui-text--xsm {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;

  .#{$class-prefix}-ui-text-subheading {
    color: var(--decom-text-text-subdued);
  }
}

.#{$class-prefix}-ui-text--emphasis {
  color: var(--decom-text-text-emphasis);
}

.#{$class-prefix}-ui-text--padding-large {
  padding: var(--decom-spacing-2) var(--decom-spacing-0);
}

.#{$class-prefix}-ui-text--padding-small {
  padding: var(--decom-spacing-1) var(--decom-spacing-0);
}
