.#{$class-prefix}-ui-toggle-button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  box-sizing: border-box;

  &--disabled {
    cursor: not-allowed !important;
    opacity: 0.3;
    pointer-events: none;
  }

  &:focus-visible {
    outline: 2px solid var(--decom-background-bg-fill-brand);
    outline-offset: 2px;
  }
}
