.#{$class-prefix}-alert {
  width: 100%;
  padding: var(--decom-spacing-3) var(--decom-spacing-3) var(--decom-spacing-3)
    var(--decom-spacing-5);
  border-radius: var(--decom-radius-rounded-sm) var(--decom-radius-rounded-xl)
    var(--decom-radius-rounded-xl) var(--decom-radius-rounded-sm);
  background-color: var(--decom-background-bg-fill-secondary);
  position: relative;
  overflow: hidden;

  .#{$class-prefix}-highlighted-line {
    background-color: var(--decom-background-bg-fill-brand);
    height: 100%;
    width: 4px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .#{$class-prefix}-alert-text {
    max-width: 85%;
  }
  .#{$class-prefix}-alert-icon {
    flex-shrink: 0;
  }
}
