// badge
.#{$class-prefix}-badge {
  font-family: "Inter";
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  border-radius: var(--decom-radius-rounded-sm);
  padding: var(--decom-spacing-1) var(--decom-spacing-2);
  width: max-content;
  box-sizing: border-box;
  @include flexCenter();
}

.#{$class-prefix}-badge-secondary {
  background-color: var(--decom-background-bg-fill-special-2-secondary);
  color: var(--decom-text-text-secondary);
}
.#{$class-prefix}-badge-published {
  color: var(--decom-text-text-success);
  background-color: var(--decom-background-bg-fill-success-secondary);
}
.#{$class-prefix}-badge-trashed {
  color: var(--decom-text-text-critical);
  background-color: var(--decom-background-bg-fill-critical-secondary);
}
.#{$class-prefix}-badge-draft {
  // TODO: find close match
  color: #09090b99;
  background-color: #e9e9e9;
}
.#{$class-prefix}-badge-pending {
  color: var(--decom-text-text-warning);
  background-color: var(--decom-background-bg-fill-warning-secondary);
}
.#{$class-prefix}-badge-processing {
  color: var(--decom-text-text-special-2);
  background-color: var(--decom-background-bg-fill-special-secondary);
}
.#{$class-prefix}-badge-on-hold {
  color: var(--decom-text-text-caution);
  background-color: var(--decom-background-bg-fill-caution-secondary);
}
.#{$class-prefix}-badge-refunded {
  color: var(--decom-text-text-secondary);
  background-color: var(--decom-background-bg-fill-secondary);
}
.#{$class-prefix}-badge-requested {
  color: var(--decom-text-text-special-3);
  background-color: var(--decom-background-bg-fill-special-2-secondary);
}
.#{$class-prefix}-badge-default {
  color: var(--decom-text-text-secondary);
  background-color: var(--decom-background-bg-surface-tertiary);
}
