// button
.#{$class-prefix}-btn {
  height: max-content;
  width: max-content;
  padding: var(--decom-spacing-2) var(--decom-spacing-4);
  border-radius: var(--decom-radius-rounded-lg);
  font-family: "inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
  @include flexCenter();
  column-gap: var(--decom-spacing-2);
  text-decoration: none;
  box-sizing: border-box;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid transparent;
}

a {
  &:hover,
  &:active,
  &:focus,
  &:visited,
  &:focus-visible {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
  }
}

.#{$class-prefix}-btn-content {
  @include flexCenter();
  column-gap: var(--decom-spacing-2);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.#{$class-prefix}-btn-primary {
  background-color: var(--decom-background-bg-fill-brand);
  color: var(--decom-text-text-light);
  &:hover,
  &.#{$class-prefix}-btn-hover {
    background-color: var(--decom-background-bg-fill-brand-hover);
    color: var(--decom-text-text-light);
  }
  &:focus,
  &:focus-visible,
  &:active,
  &.#{$class-prefix}-btn-active {
    background-color: var(--decom-background-bg-fill-brand);
    color: var(--decom-text-text-light);
  }
}

.#{$class-prefix}-btn-secondary {
  background-color: var(--decom-background-bg-fill-secondary);
  color: var(--decom-text-text-primary);
  &:hover,
  &.#{$class-prefix}-btn-hover {
    background-color: var(--decom-background-bg-fill-secondary-hover);
    color: var(--decom-text-text-primary);
  }
  &:focus,
  &:focus-visible,
  &:active,
  &.#{$class-prefix}-btn-active {
    background-color: var(--decom-background-bg-fill-secondary);
    color: var(--decom-text-text-primary);
  }
}

.#{$class-prefix}-btn-tartiary {
  background-color: #f5f5f5;
  color: var(--decom-text-text-primary);
}

.#{$class-prefix}-btn-destructive {
  background-color: var(--decom-background-bg-fill-critical);
  color: var(--decom-text-text-light);
  &:hover,
  &.#{$class-prefix}-btn-hover {
    background-color: var(--decom-border-border-critical);
    color: var(--decom-text-text-light);
  }
  &:focus,
  &:focus-visible,
  &:active,
  &.#{$class-prefix}-btn-active {
    background-color: var(--decom-background-bg-fill-critical);
    color: var(--decom-text-text-light);
  }
}

.#{$class-prefix}-btn-outlined {
  background-color: var(--decom-background-bg-fill);
  border: 1px solid var(--decom-border-border);
  color: var(--decom-text-text-primary);
  &:hover,
  &.#{$class-prefix}-btn-hover {
    background-color: var(--decom-background-bg-fill-hover);
    color: var(--decom-text-text-primary);
  }
  &:focus,
  &:focus-visible,
  &:active,
  &.#{$class-prefix}-btn-active {
    background-color: var(--decom-background-bg-fill);
    outline: none;
    color: var(--decom-text-text-primary);
  }
}

.#{$class-prefix}-btn-ghost {
  background-color: var(--decom-background-bg-fill);
  color: var(--decom-text-text-primary);
  &:hover,
  &.#{$class-prefix}-btn-hover {
    background-color: var(--decom-background-bg-fill-special-3-tertiary);
    color: var(--decom-text-text-primary);
  }
  &:focus,
  &:focus-visible,
  &:active,
  &.#{$class-prefix}-btn-active {
    background-color: var(--decom-background-bg-fill);
    color: var(--decom-text-text-primary);
  }
}

.#{$class-prefix}-btn-link {
  background-color: var(--decom-background-bg-fill);
  color: var(--decom-text-text-primary);
}

.#{$class-prefix}-btn-inverse {
  background-color: var(--decom-background-bg-inverse);
  color: var(--decom-text-text-light);
}

.#{$class-prefix}-btn-primary-soft {
  background-color: var(--decom-background-bg-fill-success-secondary);
  color: var(--decom-text-text-success);
  &:hover,
  &.#{$class-prefix}-btn-hover {
    opacity: 80%;
    color: var(--decom-text-text-success);
  }
  &:focus,
  &:focus-visible,
  &:active,
  &.#{$class-prefix}-btn-active {
    opacity: 1;
    color: var(--decom-text-text-success);
  }
}

.#{$class-prefix}-btn-destructive-soft {
  background-color: var(--decom-background-bg-fill-critical-secondary);
  color: var(--decom-text-text-critical);
  &:hover,
  &.#{$class-prefix}-btn-hover {
    opacity: 80%;
    color: var(--decom-text-text-critical);
  }
  &:focus,
  &:focus-visible,
  &:active,
  &.#{$class-prefix}-btn-active {
    opacity: 1;
    color: var(--decom-text-text-critical);
  }
}

.#{$class-prefix}-btn-disabled {
  opacity: 50%;
  pointer-events: none;
}

.#{$class-prefix}-btn-loading {
  pointer-events: none;
}

.#{$class-prefix}-btn-large {
  padding: var(--decom-spacing-f3) var(--decom-spacing-8);
  &.#{$class-prefix}-btn-icon {
    padding: var(--decom-spacing-3);
  }
}

.#{$class-prefix}-btn-small {
  font-size: 12px;
  padding: var(--decom-spacing-f2) var(--decom-spacing-3);
  &.#{$class-prefix}-btn-icon {
    padding: var(--decom-spacing-2);
  }
}

.#{$class-prefix}-btn-xsm {
  font-size: 12px;
  padding: var(--decom-spacing-1) var(--decom-spacing-2);
  &.#{$class-prefix}-btn-icon {
    padding: var(--decom-spacing-1);
  }
}
.#{$class-prefix}-btn-icon {
  padding: var(--decom-spacing-f3);
}

.#{$class-prefix}-btn-custom-style {
  color: yellowgreen;
}

.#{$class-prefix}-btn-blank {
  padding: var(--decom-spacing-0);
  background-color: transparent;
  color: var(--decom-text-text-emphasis);
}

.#{$class-prefix}-btn-fullwidth {
  width: 100%;
  .#{$class-prefix}-btn-content {
    width: 100%;
  }
}

.#{$class-prefix}-btn-invisible {
  border-color: transparent;
  background-color: transparent;
  &:hover,
  &.#{$class-prefix}-btn-hover {
    background-color: transparent;
  }
  &:focus,
  &:focus-visible,
  &:active,
  &.#{$class-prefix}-btn-active {
    background-color: transparent;
    outline: none;
    border-color: transparent;
  }
}
