.#{$class-prefix}-capsule {
  min-width: 126px;
  border-radius: var(--decom-radius-rounded-md);
  height: 32px;
  @include flexCenter();
  background-color: var(
    --decom-background-bg-fill-secondary
  ); // confusion with color in figma
  background-color: hsla(0, 0%, 96%, 1);
  .#{$class-prefix}-separator {
    height: 100%;
    width: 1px;
    background-color: var(--decom-border-border);
  }
}
