.#{$class-prefix}-color-picker-wrapper {
  border: 1px solid #e6e6e6;
  border-radius: var(--decom-radius-rounded-md);
  padding: var(--decom-spacing-f1) var(--decom-spacing-2);

  &:focus-within {
    box-shadow: 0px 0px 0px 1.5px var(--decom-border-border-ring);
  }
}

.#{$class-prefix}-color-picker-input {
  border: none !important;
  outline: none !important;
  flex: 1 !important;
  padding: var(--decom-spacing-0) !important;
  &:focus,
  &:focus-visible,
  &:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
