.#{$class-prefix}-btn-ghost.#{$class-prefix}-page-navbar-back-button {
  height: 36px;
  width: 36px;
  background: white;
  transition:
    stroke 0.2s ease,
    stroke-width 0.2s ease;

  &:hover {
    svg path {
      stroke: var(--decom-background-bg-fill-brand);
      stroke-width: 1.5;
    }
  }
}
