.#{$class-prefix}-placeholder {
  height: 137px;
  width: 100%;
  border-radius: var(--decom-radius-rounded-md);
  border: 1px dashed #e4e4e7;
  @include flexCenter();
  flex-direction: column;
  gap: var(--decom-spacing-3);
  font-weight: 500;
  color: var(--decom-text-text-secondary);

  &-primary {
    background-color: #f7f7f7;
  }

  &-secondary {
    // background-color: #ebe8fe;
    background-color: var(--decom-background-bg-fill-special-2-secondary);
    border: none;
  }

  &-large {
    height: 295px;
  }

  &-small {
    height: 32px;
    width: 32px;
    border-color: var(--decom-border-border);
  }
}
