.#{$class-prefix}-richtext {
  .mce-tinymce {
    border: 0.63px solid var(--decom-border-border);
    box-shadow: none;
    border-radius: var(--decom-radius-rounded-sm);
    overflow: hidden;
  }
  .mce-statusbar {
    display: none;
  }
  .mce-top-part::before {
    box-shadow: none;
  }
}
