.#{$class-prefix}-text {
  display: flex;
  flex-direction: column;
  @include fontGeneralSettings();
  .#{$class-prefix}-subheading {
    color: var(--decom-text-text-secondary);
  }
}

.#{$class-prefix}-text-primary {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  row-gap: var(--decom-spacing-2);

  .#{$class-prefix}-subheading {
    @include fontGeneralSettings();
    color: var(--decom-text-text-secondary);
  }
}

.#{$class-prefix}-text-secondary {
  row-gap: var(--decom-spacing-f2);
  @include fontGeneralSettings();
  font-weight: 500;

  .#{$class-prefix}-subheading {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--decom-text-text-secondary);
  }
}

.#{$class-prefix}-text-disabled {
  color: var(--decom-text-text-disabled);
  .#{$class-prefix}-subheading {
    color: var(--decom-text-text-disabled);
  }
}
.#{$class-prefix}-text-xsm {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  .#{$class-prefix}-subheading {
    color: var(--decom-text-text-subdued);
    // color: var(--decom-text-text-secondary);
  }
}

.#{$class-prefix}-text-emphasis {
  color: var(--decom-text-text-emphasis);
}

.#{$class-prefix}-text-padding-large {
  padding: var(--decom-spacing-2) var(--decom-spacing-0);
}
