.#{$class-prefix}-media-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(138px, 1fr));
  gap: var(--decom-spacing-3);
}

.#{$class-prefix}-gallery-item {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  background: transparent;
  cursor: pointer;
  border-radius: var(--decom-radius-rounded-lg);
  overflow: hidden;
  border: 1px solid var(--decom-background-bg-surface);
  user-select: none;

  .#{$class-prefix}-gallery-item-overlay {
    position: absolute;
    inset: 0;
    background: #00000033;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    &.#{$class-prefix}-active {
      opacity: 1;
    }
  }

  .#{$class-prefix}-gallery-item-drag-handler {
    border-radius: var(--decom-radius-rounded-full);
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .#{$class-prefix}-gallery-item-actions {
    position: absolute;
    top: 8px;
    left: 6px;
    right: 6px;
    z-index: 3;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    opacity: 0;
    transition: opacity 0.2s ease;

    &.#{$class-prefix}-active {
      opacity: 1;
    }
  }

  &:hover {
    .#{$class-prefix}-gallery-item-overlay,
    .#{$class-prefix}-gallery-item-actions {
      opacity: 1;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &.#{$class-prefix}-large {
    grid-column: span 2;
    grid-row: span 2;
    aspect-ratio: 1 / 1;
    .#{$class-prefix}-gallery-item-drag-handler {
      &:active {
        cursor: grabbing;
      }
    }
  }

  &.#{$class-prefix}-overlay {
    position: relative;

    img {
      transform: scale(1.05);
    }

    .#{$class-prefix}-overlay-text {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 400;
      color: var(--decom-text-text-light);
      background: rgba(0, 0, 0, 0.35);
      border-radius: inherit;
    }
  }

  &.#{$class-prefix}-add {
    border: 2px dashed #e4e4e7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--decom-background-bg-fill-brand);
    font-size: 32px;
    cursor: pointer;
    // f7f7f7
    background: var(--decom-background-bg-surface-secondary);

    &:hover {
      background: #f7f4ff;
    }
  }
}
