.#{$class-prefix}-settings-card-wrapper {
  align-items: center;

  > div {
    border-radius: var(--decom-radius-rounded-none);
    height: 56px;
    transition: all 0.3s ease;
    padding: var(--decom-spacing-3) var(--decom-spacing-2);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      border-top-left-radius: var(--decom-radius-rounded-xl);
      border-top-right-radius: var(--decom-radius-rounded-xl);
    }

    &:last-child {
      border-bottom-left-radius: var(--decom-radius-rounded-xl);
      border-bottom-right-radius: var(--decom-radius-rounded-xl);
    }

    &:hover {
      background-color: var(--decom-background-bg-fill-secondary);

      .#{$class-prefix}-settings-card-identifier {
        opacity: 1;
        visibility: visible;
      }
      .#{$class-prefix}-settings-card-button {
        opacity: 1;
        visibility: visible;
      }
      .#{$class-prefix}-text-heading{
        color: var(--decom-background-bg-fill-brand)
      }
      svg path {
        stroke: var(--decom-background-bg-fill-brand) ;
      }
    }

    .#{$class-prefix}-settings-card-identifier {
      background: var(--decom-color-brand-1);
      height: 40px;
      width: 4px;
      position: absolute;
      top: 2px;
      left: -12px;
      border-radius: var(--decom-radius-rounded-xl);

      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
    }

    .#{$class-prefix}-settings-card-button {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
    }
  }
  &:hover > div {
    border-radius: var(--decom-radius-rounded-xl);
  }
}

// currency settings
.#{$class-prefix}-edit-currency-rate-popup-label{
  padding: var(--decom-spacing-3);
  gap: var(--decom-spacing-2);
  background: var(--decom-background-bg-surface-alt);
  border-radius: var(--decom-radius-rounded-md);
  color: var(--decom-text-text-secondary);
}

