.#{$class-prefix}-box-wrapper {
  .#{$class-prefix}-box-card {
    border-top: none;
    border-radius: var(--decom-radius-rounded-none);
  }
}

.#{$class-prefix}-box-wrapper {
  .#{$class-prefix}-box-card:first-child {
    border-top: 1px solid var(--decom-border-border-secondary);
    border-radius: var(--decom-radius-rounded-md) var(--decom-radius-rounded-md)
      var(--decom-radius-rounded-none) var(--decom-radius-rounded-none);
  }
  .#{$class-prefix}-box-card:last-child {
    border-radius: var(--decom-radius-rounded-none)
      var(--decom-radius-rounded-none) var(--decom-radius-rounded-md)
      var(--decom-radius-rounded-md);
  }
}

.my-list > div {
  border-bottom: 1px solid #ddd;
  padding: var(--decom-spacing-3) var(--decom-spacing-0);
}

.my-list > div:first-child {
  border-top: 1px solid #ddd;
}

.#{$class-prefix}-shipping-rules-card {
  padding: var(--decom-spacing-3);
  min-height: 118px;
  border-radius: var(--decom-radius-rounded-none);
  border: 1px solid var(--decom-border-border);
  display: flex;
  flex-direction: column;
  gap: var(--decom-spacing-4);
}

.#{$class-prefix}-rules-number-badge{
  max-height: 26px;
  max-width: fit-content;
  border-radius: var(--decom-radius-rounded-sm);
  display: flex;
  padding: var(--decom-spacing-1) var(--decom-spacing-2);
}

.#{$class-prefix}-shipping-rules-card:only-child {
  border-radius: var(--decom-radius-rounded-lg);
}

.#{$class-prefix}-shipping-rules-card:first-child:not(:only-child) {
  border-radius: var(--decom-radius-rounded-lg) var(--decom-radius-rounded-lg)
    var(--decom-radius-rounded-none) var(--decom-radius-rounded-none);
}

.#{$class-prefix}-shipping-rules-card:last-child:not(:only-child) {
  border-radius: var(--decom-radius-rounded-none)
    var(--decom-radius-rounded-none) var(--decom-radius-rounded-lg)
    var(--decom-radius-rounded-lg);
}

.#{$class-prefix}-shipping-rules-card:hover .#{$class-prefix}-card-actions {
  pointer-events: auto;
  display: flex;
}

.#{$class-prefix}-card-actions.option-card-icon-active {
  pointer-events: auto;
  display: flex;
}

.#{$class-prefix}-weight-rate-delete-icon .trash-icon {
  opacity: 0;
  display: none;
  transition: opacity 0.2s ease;
  cursor: pointer;
  background: var(--decom-background-bg-fill-secondary);
  border-radius: var(--decom-radius-rounded-lg);
  padding: var(--decom-spacing-1);
}

.#{$class-prefix}-weight-rate-delete-icon:hover .trash-icon {
  opacity: 1;
  visibility: visible;
  display: block;
}

.#{$class-prefix}-add-rule-modal {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-6px);
  transition:
    max-height 300ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 200ms ease,
    transform 200ms ease;
}

.#{$class-prefix}-add-rule-modal.is-open {
  min-width: 100%;
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}

.#{$class-prefix}-box-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .#{$class-prefix}-box {
    position: relative;
    transform-style: preserve-3d;
    margin: auto;

    /* Geometry inputs */
    --w: 200px;
    --h: 120px;
    --l: 300px;

    /* Derived values */
    --hw: calc(var(--w) / 2);
    --hh: calc(var(--h) / 2);
    --hl: calc(var(--l) / 2);

    width: var(--w);
    height: var(--h);

    .face {
      position: absolute;
      top: 50%;
      left: 50%;
      transform-style: preserve-3d;
      box-sizing: border-box;
    }

    /* FRONT / BACK */
    .front {
      width: var(--w);
      height: var(--h);
      transform: translate(-50%, -50%) translateZ(var(--hl));
      background: #9663b6;
    }

    .back {
      width: var(--w);
      height: var(--h);
      transform: translate(-50%, -50%) rotateY(180deg) translateZ(var(--hl));
      background: #9663b6;
    }

    /* LEFT / RIGHT */
    .right {
      width: var(--l);
      height: var(--h);
      transform: translate(-50%, -50%) rotateY(90deg) translateZ(var(--hw));
      background: #bf84e9;
    }

    .left {
      width: var(--l);
      height: var(--h);
      transform: translate(-50%, -50%) rotateY(-90deg) translateZ(var(--hw));
      background: #bf84e9;
    }

    /* TOP / BOTTOM */
    .top {
      width: var(--w);
      height: var(--l);
      transform: translate(-50%, -50%) rotateX(90deg) translateZ(var(--hh));
      background: #ceaaff;
    }

    .bottom {
      width: var(--w);
      height: var(--l);
      transform: translate(-50%, -50%) rotateX(-90deg) translateZ(var(--hh));
      background: #ceaaff;
    }
  }
}
