// Account - Wishlist
// Styling for wishlist page

@use '../../tokens' as *;
@use '../../mixins' as *;

.kecom-account-wishlist {
  .kecom-account-panel-header {
    &-title {
      @include typography(lg, semibold, $text-primary);
      margin: 0;
      .kecom-wishlist-count {
        color: $text-subdued;
      }
    }

    @include flex(row, center, space-between);
    padding-bottom: $spacing-6;
  }

  .kecom-products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: $spacing-14;
    column-gap: $spacing-10;
    margin-bottom: $spacing-14;

    @include breakpoint-down(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint-down(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }
  }
}
