// Accordion
.#{$class-prefix}-accordion {
  width: 397px;
  box-sizing: border-box;
  @include fontGeneralSettings();
  color: #09090b;
}

.#{$class-prefix}-accordion-trigger {
  cursor: pointer;
  @include itemCenterContentBetween();
  font-weight: 500;
  padding: var(--decom-spacing-4) var(--decom-spacing-0);
}

.#{$class-prefix}-accordion-content {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
