.#{$class-prefix}-input-wrapper {
  @include itemCenterContentStart();
  column-gap: var(--decom-spacing-4);
  width: 100%;

  input[type="text"].#{$class-prefix}-input,
  input[type="password"].#{$class-prefix}-input,
  input[type="email"].#{$class-prefix}-input,
  input[type="number"].#{$class-prefix}-input,
  input[type="search"].#{$class-prefix}-input,
  input[type="tel"].#{$class-prefix}-input,
  input[type="time"].#{$class-prefix}-input,
  input[type="url"].#{$class-prefix}-input,
  input[type="date"].#{$class-prefix}-input,
  input.#{$class-prefix}-input {
    margin: 0;
    min-height: 36px;
    width: 100%;
    background-color: var(--decom-background-bg-fill);
    border: 1px solid var(--decom-border-border);
    border-radius: var(--decom-radius-rounded-lg);
    padding: var(--decom-spacing-1) var(--decom-spacing-3);
    box-sizing: border-box;
    @include fontGeneralSettings();

    &:focus,
    &:focus-visible,
    &:active {
      box-shadow: 0px 0px 0px 1.5px var(--decom-border-border-ring);
      border: 1px solid var(--decom-border-border);
      outline: none;
    }

    &.#{$class-prefix}-input-error {
      border: 1px solid var(--decom-border-border-critical);
      box-shadow: 0px 0px 0px 1px var(--decom-background-bg-fill-critical);

      &:focus,
      &:focus-visible,
      &:active {
        border: 1px solid var(--decom-border-border-critical);
        box-shadow: 0px 0px 0px 1px var(--decom-background-bg-fill-critical);
        outline: none;
      }
    }

    &.#{$class-prefix}-input-disabled {
      background-color: var(--decom-background-bg-surface-alt);
      color: var(--decom-text-text-secondary);
      opacity: 80%;
      border-color: transparent;
      pointer-events: none;
    }

    &.#{$class-prefix}-input-muted {
      opacity: 80%;
      color: var(--decom-text-text-secondary);
      pointer-events: none;
    }

    &.#{$class-prefix}-input-invisible {
      background-color: transparent;
      outline: none;
      border-color: transparent;
      box-shadow: none;
      height: 100%;

      &:focus,
      &:focus-visible,
      &:active {
        box-shadow: none;
        border-color: transparent;
      }
    }
  }

  textarea.#{$class-prefix}-input,
  textarea.#{$class-prefix}-textarea {
    margin: 0;
    min-height: 36px;
    width: 100%;
    background-color: var(--decom-background-bg-fill);
    border: 1px solid var(--decom-border-border);
    box-shadow: 0px 1px 2px 0px #0000000d;
    border-radius: var(--decom-radius-rounded-lg);
    padding: var(--decom-spacing-1) var(--decom-spacing-3);
    box-sizing: border-box;
    resize: none;
    height: auto;
    @include fontGeneralSettings();

    &:focus,
    &:focus-visible,
    &:active {
      box-shadow: 0px 0px 0px 1.5px var(--decom-border-border-ring);
      border: 1px solid var(--decom-border-border);
      outline: none;
    }

    &.#{$class-prefix}-input-error {
      border: 1px solid var(--decom-border-border-critical);
      box-shadow: 0px 0px 0px 1px var(--decom-background-bg-fill-critical);

      &:focus,
      &:focus-visible,
      &:active {
        border: 1px solid var(--decom-border-border-critical);
        box-shadow: 0px 0px 0px 1px var(--decom-background-bg-fill-critical);
        outline: none;
      }
    }
  }

  .#{$class-prefix}-input-controller {
    width: 100%;
    @include contentStart();
    flex-direction: column;
    row-gap: var(--decom-spacing-2);
    position: relative;

    .#{$class-prefix}-input-has-icon {
      position: relative;
      display: flex;
      align-items: center;

      &.#{$class-prefix}-input-has-left-symbol {
        .#{$class-prefix}-input::placeholder {
          text-indent: 12px;
        }
        .#{$class-prefix}-input {
          text-indent: 12px;
        }
      }

      &.#{$class-prefix}-input-has-left-icon {
        .#{$class-prefix}-input::placeholder {
          text-indent: 24px;
        }
        .#{$class-prefix}-input {
          text-indent: 24px;
        }
      }

      &.#{$class-prefix}-input-has-right-icon {
        .#{$class-prefix}-input {
          padding-right: 36px;
        }
      }
    }

    .#{$class-prefix}-input-left-icon {
      position: absolute;
      left: 12px;
      @include flexCenter();
    }

    .#{$class-prefix}-input-right-icon {
      position: absolute;
      right: 12px;
      @include flexCenter();
      cursor: pointer;
    }
  }

  .#{$class-prefix}-text-input {
    cursor: text;

    &::-webkit-input-placeholder {
      color: var(--decom-text-text-secondary);
      opacity: 80%;
    }
  }

  .#{$class-prefix}-input-disabled {
    background-color: var(--decom-background-bg-surface-alt);
    color: var(--decom-text-text-secondary);
    opacity: 80%;
    border-color: transparent;
    pointer-events: none;

    &::-webkit-input-placeholder {
      opacity: 50%;
    }
  }

  .#{$class-prefix}-file-input {
    @include itemCenterContentStart();
    column-gap: var(--decom-spacing-2);
    width: 280px;

    .#{$class-prefix}-input-file-upload-btn {
      font-weight: 500;
      cursor: pointer;
    }

    .#{$class-prefix}-filename-placeholder {
      color: var(--decom-text-text-secondary);
      opacity: 80%;
    }
  }

  input[type="number"].#{$class-prefix}-input {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: var(--decom-spacing-0);
    }
  }

  input[type="search"].#{$class-prefix}-input {
    -webkit-appearance: none;
    appearance: none;

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
      -webkit-appearance: none;
    }
  }
}
