.#{$class-prefix}-tab {
  background-color: var(--decom-background-bg-surface-secondary);
  border-radius: var(--decom-radius-rounded-md);
  padding: var(--decom-spacing-1);
  min-height: 36px;
  align-items: center;

  color: var(--decom-text-text-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  .#{$class-prefix}-tab-item {
    height: 100%;
    width: 100%;
    border-radius: var(--decom-radius-rounded-sm);
    @include flexCenter();
    cursor: pointer;

    &.#{$class-prefix}-active-tab {
      background-color: var(--decom-background-bg-fill);
      color: var(--decom-text-text-primary);
      box-shadow: 0px 1px 2px 0px #0000000d;
    }
  }
}
