.#{$class-prefix}-tag {
  background-color: var(--decom-background-bg-surface-secondary);
  padding: var(--decom-spacing-1) var(--decom-spacing-2);
  border-radius: var(--decom-radius-rounded-sm);
  @include flexCenter();
  width: max-content;
  gap: var(--decom-spacing-2);
  font-size: 12px;
  line-height: 18px;

  .#{$class-prefix}-tag-subtext {
    color: var(--decom-text-text-subdued);
  }

  .#{$class-prefix}-color-swatch {
    border-radius: var(--decom-radius-rounded-full);
    height: 16px;
    width: 16px;
  }

  .#{$class-prefix}-close-icon {
    cursor: pointer;
    @include flexCenter();
  }
}
