.#{$class-prefix}-tag-manager {
  overflow: hidden;
  .kirki-ecom-input-wrapper {
    input {
      border-radius: var(--decom-radius-rounded-lg);
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  .#{$class-prefix}-tag-manager-input {
    background-color: var(--decom-background-bg-fill);
    width: 100%;
    outline: none;
    cursor: text;
    &.#{$class-prefix}-border-none {
      border-bottom: none;
      border-radius: var(--decom-radius-rounded-lg)
        var(--decom-radius-rounded-lg) var(--decom-radius-rounded-none)
        var(--decom-radius-rounded-none);
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  &.#{$class-prefix}-tag-manager-list {
    border: 1px solid var(--decom-border-border);
    border-radius: var(--decom-radius-rounded-lg);
    .kirki-ecom-input-wrapper {
      input {
        border: none;
        padding: var(--decom-spacing-3);
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

.#{$class-prefix}-selected-tags {
  min-height: 52.2px;
  background-color: var(--decom-background-bg-fill);
  border: 1px solid var(--decom-border-border);
  padding: var(--decom-spacing-3);
  border-radius: var(--decom-radius-rounded-none)
    var(--decom-radius-rounded-none) var(--decom-radius-rounded-lg)
    var(--decom-radius-rounded-lg);
  overflow: hidden;
  @include itemCenterContentStart();
  gap: var(--decom-spacing-2);
  flex-wrap: wrap;
}

.#{$class-prefix}-has-border-radius {
  border-radius: var(--decom-radius-rounded-lg);
}
