@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin contentBetween {
  display: flex;
  justify-content: space-between;
}
@mixin contentEnd {
  display: flex;
  justify-content: flex-end;
}
@mixin contentStart {
  display: flex;
  justify-content: flex-start;
}
@mixin contentCenter {
  display: flex;
  justify-content: center;
}
@mixin itemCenter {
  display: flex;
  align-items: center;
}
@mixin itemCenterContentBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin itemCenterContentAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@mixin itemCenterContentStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@mixin itemCenterContentEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
@mixin fontGeneralSettings {
  font-size: 14px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-weight: 400;
  line-height: 21px;
  color: var(--decom-text-text-primary);
}

@mixin scrollbar($thickness, $activeColor, $inactiveColor) {
  scrollbar-width: thin;
  scrollbar-color: $activeColor $inactiveColor;

  &::-webkit-scrollbar {
    height: $thickness;
    width: 100%;
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar-track {
    background: var(--decom-background-bg-fill);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--decom-background-bg-fill-brand);
    border-radius: var(--decom-radius-rounded-sm);
    border: 0;
    min-width: 100px !important;
    width: 40px !important;
    max-width: 40px !important;
  }
}
