$class-prefix: "kirki-ecom";

:root {
  /* color */

  /* background-color */
  --decom-background-bg-fill: var(--decom-color-gray-1);
  --decom-background-bg-fill-brand: var(--decom-color-brand-1);
  --decom-background-bg-fill-brand-hover: var(--decom-color-brand-2);
  --decom-background-bg-fill-caution: var(--decom-color-yellow-2); // not used
  --decom-background-bg-fill-caution-secondary: var(--decom-color-yellow-1);
  --decom-background-bg-fill-critical: var(--decom-color-red-3);
  --decom-background-bg-fill-critical-secondary: var(--decom-color-red-1);
  --decom-background-bg-fill-disabled: var(--decom-color-gray-12); // not used
  --decom-background-bg-fill-hover: var(--decom-color-gray-6);
  --decom-background-bg-fill-secondary: var(--decom-color-brand-5);
  --decom-background-bg-fill-secondary-hover: var(--decom-color-brand-4);
  --decom-background-bg-fill-special: var(--decom-color-blue-2);
  --decom-background-bg-fill-special-2: var(--decom-color-violet-2); // not used
  --decom-background-bg-fill-special-2-secondary: var(--decom-color-violet-1);
  --decom-background-bg-fill-special-3-tertiary: var(--decom-color-violet-3);
  --decom-background-bg-fill-special-secondary: var(--decom-color-blue-1);
  --decom-background-bg-fill-success: var(--decom-color-green-6);
  --decom-background-bg-fill-success-secondary: var(--decom-color-green-1);
  --decom-background-bg-fill-tertiary: var(--decom-color-gray-9); // not used
  --decom-background-bg-fill-tertiary-hover: var(--decom-color-gray-11);
  --decom-background-bg-fill-warning: var(--decom-color-orange-2); // not used
  --decom-background-bg-fill-warning-secondary: var(--decom-color-orange-1);
  --decom-background-bg-inverse: var(--decom-color-gray-16);
  --decom-background-bg-surface: var(--decom-color-gray-1);
  --decom-background-bg-surface-alt: var(--decom-color-gray-2);
  --decom-background-bg-surface-disabled: var(--decom-color-gray-9); // not used
  --decom-background-bg-surface-secondary: var(--decom-color-gray-4);
  --decom-background-bg-surface-subdued: var(--decom-color-gray-7); // not used
  --decom-background-bg-surface-tertiary: var(--decom-color-gray-5);

  /* border color */
  --decom-border-border: var(--decom-color-gray-8);
  --decom-border-border-critical: var(--decom-color-red-2);
  --decom-border-border-disabled: var(--decom-color-gray-10); // not used
  --decom-border-border-hover: var(--decom-color-gray-12);
  --decom-border-border-inverse: var(--decom-color-gray-16); // not used
  --decom-border-border-ring: var(--decom-color-gray-14);
  --decom-border-border-secondary: var(--decom-color-gray-6);
  --decom-border-border-tertiary: var(--decom-color-gray-5);

  /* icon color */
  --decom-icon-brand: var(--decom-color-green-4);
  --decom-icon-caution: var(--decom-color-yellow-2);
  --decom-icon-critical: var(--decom-color-red-3);
  --decom-icon-disabled: var(--decom-color-gray-11);
  --decom-icon-emphasis: var(--decom-color-blue-3);
  --decom-icon-inverse: var(--decom-color-gray-5);
  --decom-icon-primary: var(--decom-color-gray-14);
  --decom-icon-primary-active: var(--decom-color-gray-16);
  --decom-icon-primary-hover: var(--decom-color-gray-15);
  --decom-icon-secondary: var(--decom-color-gray-12);
  --decom-icon-secondary-active: var(--decom-color-gray-14);
  --decom-icon-secondary-hover: var(--decom-color-gray-13);
  --decom-icon-special: var(--decom-color-pink-2);
  --decom-icon-success: var(--decom-color-green-5);
  --decom-icon-warning: var(--decom-color-orange-2);

  /* text color */
  --decom-text-text-brand: var(--decom-color-green-4);
  --decom-text-text-caution: var(--decom-color-yellow-2);
  --decom-text-text-critical: var(--decom-color-red-3);
  --decom-text-text-disabled: var(--decom-color-gray-11);
  --decom-text-text-emphasis: var(--decom-color-blue-3);
  --decom-text-text-light: var(--decom-color-gray-1);
  --decom-text-text-primary: var(--decom-color-gray-15);
  --decom-text-text-secondary: var(--decom-color-gray-13);
  --decom-text-text-special: var(--decom-color-pink-2);
  --decom-text-text-special-2: var(--decom-color-blue-2);
  --decom-text-text-special-3: var(--decom-color-violet-2);
  --decom-text-text-subdued: var(--decom-color-gray-12);
  --decom-text-text-success: var(--decom-color-green-6);
  --decom-text-text-warning: var(--decom-color-orange-2);

  /* number */

  /* radius */
  --decom-radius-rounded-none: 0px;
  --decom-radius-rounded-sm: 4px;
  --decom-radius-rounded-md: 6px;
  --decom-radius-rounded-lg: 8px;
  --decom-radius-rounded-xl: 12px;
  --decom-radius-rounded-full: 9999px;

  /* spacing */
  // padding, margin, gap
  --decom-spacing-0: 0px;
  --decom-spacing-f1: 2px;
  --decom-spacing-1: 4px;
  --decom-spacing-f2: 6px;
  --decom-spacing-2: 8px;
  --decom-spacing-f3: 10px;
  --decom-spacing-3: 12px;
  --decom-spacing-f4: 14px;
  --decom-spacing-4: 16px;
  --decom-spacing-5: 20px;
  --decom-spacing-6: 24px;
  --decom-spacing-7: 28px;
  --decom-spacing-8: 32px;
  --decom-spacing-9: 36px;
  --decom-spacing-10: 40px;
  --decom-spacing-11: 44px;
  --decom-spacing-12: 48px;
  // need 6px, 10px, 2px, 14px
}
[data-theme="light"] {
  /* color */
  --decom-color-blue-1: hsl(187 100% 93%); // #DCFBFF
  --decom-color-blue-2: hsl(205 100% 40%); // #0078CE
  --decom-color-blue-3: hsl(220 100% 50%); // #0055FF
  --decom-color-brand-1: hsl(214 100% 54%); // #5641f3
  --decom-color-brand-2: hsl(214 83% 50%); // #4c36f2
  --decom-color-brand-3: hsl(214 100% 85%);
  --decom-color-brand-4: hsl(214 100% 89%); // #ddd9fd
  --decom-color-brand-5: hsl(214 100% 95%); // #ebe8fe replaced
  --decom-color-gray-1: hsl(0 0 100%); // #ffffff
  --decom-color-gray-10: hsl(250 13% 81%);
  --decom-color-gray-11: hsl(249 10% 72%); // #b3b1bf
  --decom-color-gray-12: hsl(249 6% 55%); // #878593
  --decom-color-gray-13: hsl(250 6% 39%); // #5F5D69
  --decom-color-gray-14: hsl(252 6% 30%); // #4A4852
  --decom-color-gray-15: hsl(255 4% 20%); // #323135
  --decom-color-gray-16: hsl(270 4% 11%); // #1c1b1d
  --decom-color-gray-2: hsl(255 30% 98%); // #F9F9FB
  --decom-color-gray-3: hsl(255 30% 98%);
  --decom-color-gray-4: hsl(250 26% 97%); // #F6F5F9 + #F7F7F7
  --decom-color-gray-5: hsl(248 23% 96%); // #F3F3F7
  --decom-color-gray-6: hsl(248 20% 94%); // #eeedf3
  --decom-color-gray-7: hsl(248 16% 93%);
  --decom-color-gray-8: hsl(252 14% 90%); // #E4E3E9
  --decom-color-gray-9: hsl(246 12% 84%);
  --decom-color-green-1: hsl(141 100% 95%); // #E3FFED
  --decom-color-green-3: hsl(145 36% 44%);
  --decom-color-green-4: hsl(145 47% 37%);
  --decom-color-green-5: hsl(134 61% 41%);
  --decom-color-green-6: hsl(134 61% 28%); // #1C7330
  --decom-color-orange-1: hsl(38 100% 92%); // #FFF0D7
  --decom-color-orange-2: hsl(42 100% 18%); // #5E4200
  --decom-color-pink-1: hsl(311 100% 65%);
  --decom-color-pink-2: hsl(311 100% 53%);
  --decom-color-red-1: hsl(2 100% 95%); // #ffe5e4
  --decom-color-red-2: hsl(0 70% 71%); // #e98080
  --decom-color-red-3: hsl(0 100% 42%); // #d40000
  --decom-color-violet-1: hsl(248 92% 95%); // #EBE8FE (original)
  --decom-color-violet-2: hsl(266 100% 64%); // #9747ff
  --decom-color-violet-3: hsl(248 79% 96%); // #f0eefd
  --decom-color-yellow-1: hsl(61 100% 89%); // #FEFFC5
  --decom-color-yellow-2: hsl(54 100% 15%); // #4F4700
}

// missing colors

// #e9e9e9 --> bg color
// #09090B99 --> badge draft
// #F5F5F5 --> btn tartiary (find in tax/currency settings)
// #f4f4f5 --> select option dropdown hover/active
// 71717a --> dropdown right text
// #333333
// #DEDAF4 --> settings hover color
// #f7f7f7 --> see gallery placeholder/card tartiary color
// #e6e6e6 --> schema box border vs tag manager border why the different border color in input (find in colorpicker)
// #E4E4E7 --> gallery add button border
// #f7f4ff --> gallery add button hover bg color
// #ceaaff --> shipping box
// #bf84e9
// #9663b6

// todo
// need another variant of disabled input with no bg color
// check all the thumbnails and placeholders for f7f7f7 compatibility
// all inline styles
